---
layout: page
---
<% content_for :head do %>
    Tags
<% end%>

<ul class="tags">
    <% blog.tags.each do |tag, articles| %>
        <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
    <% end %>
</ul>

